.wrap {
    display: flex;
    align-items: center;
}

.checkbox {
    appearance: none;
    --webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 2px solid $border;

    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.checkbox:checked {
    background: #1654d1;
    border: none;
}

.checkbox:checked::after {
    content: '✓';
    color: $white;
    font-size: 18px;
}

.label {
    color: $gray;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    margin-left: 6px;
}
