.input {
    width: 100%;
    padding: 12px 10px;
    background: transparent;
    appearance: none;
    border: 1px solid $border;
    border-radius: 10px;
    outline: none;

    &__error {
        border-bottom: 2px solid $red;
    }

    &:-webkit-autofill {
        box-shadow: 0 0 0 30px #fff inset;
        -webkit-text-fill-color: #000;
    }
}

.label {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}
