$size: (
    'small': 15px,
    'medium': 30px,
    'full': 100%,
);

$height: (
    'high': 35px,
    'medium': 30px,
);

$colors: (
    'primary': $dark-blue,
    'error': $red,
);

.button {
    color: $white;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    @each $name, $value in $size {
        &__size__#{$name} {
            @if $name== 'full' {
                width: $value;
            } @else {
                padding: 0 $value;
            }
        }
    }

    @each $name, $value in $height {
        &__height__#{$name} {
            height: $value;
        }
    }

    @each $name, $value in $colors {
        &__color__#{$name} {
            color: $white;
            background: $value;
        }
    }
    &__outline {
        color: $black;
        background: $white;
        border: 1px solid $border;
    }
    &__bold {
        font-weight: 700;
    }

    &:disabled {
        color: $white;
        background: $disabled;
        cursor: not-allowed;
    }

    &:hover {
        filter: brightness(95%);
    }
}
